/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-text-color {
    color: #ece4de !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold !important;
  }
